.cart-layout {
  display: flex;
  gap: 2rem;
  background-color: yellow;
  margin-inline: auto;
  width: clamp(300px, 90%, 1300px);
  margin: 0 auto;
}

.subtotal-container {
  flex-grow: 1;
  border: 2px solid black;
  align-self: flex-start;
}

.cart-item-list-container {
  flex-grow: 7;
  border: 2px solid black;
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
