.confirm-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 1rem auto;
}

.confirm-order .confirm-order-container {
  gap: 0.5rem;
  justify-content: space-evenly;
}
.confirm-order h2 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(green, black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.confirm-order h4 {
  font-size: 1.2rem;
  color: rgb(13, 88, 22);
}

.confirm-order .user-details {
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.confirm-order .cart-items {
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.confirm-order section {
  margin-bottom: 20px;
}

.confirm-order .confirm-order-button,
.add-item-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}

.confirm-order .confirm-order-button:hover,
.add-item-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
.confirm-order .cancel-button {
  padding: 10px 20px;

  background-color: #f12217;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}

.cancel-button:hover {
  background-color: #e33b21;
  transform: scale(1.1);
}

.grid-cart-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 0.5rem;
}
.line-top {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
