.cart-item-container {
  display: flex;

  background-color: red;

  width: 80%;
  margin-inline: auto;
}
.detailes-price {
  flex-grow: 1;
  background-color: green;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 5rem;
}
.title-name-cart {
  grid-column: 1/2;
}
.item-details-cart {
  grid-column: 1/2;
}
.item-price-cart {
  grid-column: 2/3;
  grid-row: 1/3;
}
.quantity-containr {
  grid-column: 1/3;
}
