.footer {
  background-color: #1f2937;
  color: #fff;
  padding: 1.5rem;
}
@media (min-width: 200px) and (max-width: 392px) {
  .footer-content {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-bottom {
    margin-top: 0.5rem;
  }
}

.footer-content {
  display: flex;

  justify-content: space-evenly;
  align-items: flex-start;
  /* gap: 2rem; */
}

.footer-section button {
  padding: 0.5rem;
  background-color: #facc15;
  border-radius: 0.2rem;
}
.footer-section button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.name-logo {
  display: flex;

  gap: 0.2rem;
}

.footer-section h4 {
  font-size: 1.25rem;
  color: green;
}

.footer-bottom {
  text-align: center;
  font-size: 0.875rem;
  color: #9ca3af;
  margin-top: 0.8rem;
}
