.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;

  padding-inline: 1rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 954px) {
  .header {
    justify-content: space-evenly;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .search-bar {
    flex: 1;
  }
  .header nav .link-container {
    /* display: none; */
  }
  .header nav {
    flex: 0;
  }
}

@media (max-width: 497px) {
  .header {
    padding-top: 0.5rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  ca .header .search-bar {
    width: 90vw;
  }
  .header nav {
    /* position: relative;
    top: -85px;
    right: -167px; */
    position: absolute;
    top: 10px;
    right: -10px;
  }
}

.header .title {
  background: linear-gradient(to bottom right, blue, green);
  background-clip: text;

  color: transparent;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
nav ul li {
  padding: 0.25rem;
  position: relative;
}

li .active {
  background-color: lightgreen;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

nav ul li::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #007bff;
  transform: translateX(-50%);
  transition: width 0.3s ease, left 0.3s ease;
}
nav ul li:hover::after {
  width: 100%;
  right: 0;
}
nav ul li .active::after {
  width: 100%;
  right: 0;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;

  flex: 1.5;
}

.search-bar input {
  width: 100%;
  margin: auto;
  border: none;
  padding: 0.5rem;
  outline: none;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.search-bar input:active,
.search-bar input:focus {
  background-color: rgba(238, 233, 233, 0.789);
  border: 3px solid blue;
}

.search-bar button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header .cart-container {
  display: flex;
}
.header .cart-icon {
  position: relative;
}
.header .cart-icon:hover {
  transform: scale(1.1);
}

.header .count {
  align-self: flex-start;
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  padding: 0.7rem;
}
.close-sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  padding: 0 20px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .link-container {
    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    transition: 0.75s ease-out;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 0 20px;
  }
  #sidebar-active:checked ~ .link-container {
    right: 0;
  }
  nav ul {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    font-size: 1rem;
    padding-left: 1rem;
  }
  nav .cart-container {
    padding-left: 1rem;
  }
  nav .cart-container img {
    width: 50px;
    height: 40px;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  li .active {
    color: black;
  }
}

/* .links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav Link {
  height: 100%;
  padding: 0 20px;
  align-items: center;
  text-decoration: none;
  color: black;
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: #a9bdea;
    transition: 0.75s ease-out;
  }
  nav Link {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 0 20px;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .search-bar {
    flex: 1;
  }
} */
