.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-inline: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.search-container {
  margin-right: auto;
}

nav ul {
  display: flex;
  gap: 0.75rem;
}

nav {
}
